html {
  scroll-behavior: smooth;
}

body {
  min-width: 1024px;
  max-width: 1920px;
  background-color: #F3F3F3;
  margin: 0;

}

/* POP UP INFO */

.popup {
  display: none;
  z-index: 30;

}

.open {
  background-color: #C0B08F;
  border: none;
  outline: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 5vh;
  right: 3vw;
  border-radius: 10px;
  opacity: 0.5;
  height: 4vh;
  width: 3vw;
}

.popup-open {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.info h3 {
  margin: 0 2vw;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #C4D8EC;
}
.info p {
  margin: 0 2vw;
  font-weight: normal;
}

.close {
  width: 3vw;
  font-size: 1.5rem;
  border: none;
  outline: none;
  background: none;
  position: absolute;
  top: 2vh;
  right: 1vw;
  cursor: pointer;
}

.indication {
  margin: 1vh 5vw;
  color: gray;
  font-size: 0.75rem;
  text-align: center;

}


.background {
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.info {
  position: absolute;
  top: 40%;
  left: 25%;
  background-color: white;
  border-radius: 20px;
  width: 50%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 20;
}


/* ACCUEIL */
.accueil {
  font-family: roboto, sans-serif;
  font-weight: 300;
  font-style: normal;
  width: 100%;
  height: 100%;
  display: flex;
}

.top-images {
  width: 75%;
  height: 100vh;

  position: relative;
  top: -5vh;
  left: -10vh;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.top_chihiro {
  width: 25vw;
  margin-top: 20vh;
}

.top-images img {
  margin-left: 10px;
  margin-bottom: 10px;
  opacity: 0.7;
}

.ligne1 {
  width: 40vw;
}

.ligne1 img {
  width: 40%;
}

.ligne2 img {
  width: 40%;
}

.ligne2 {
  display: flex;
  align-items: flex-start;
}


.vertical-line {
  border-left: 1px solid #9D9D9D;
  display: inline-block;
  height: 70vh;
  margin: 0 15px;
}

.top_titre {
  width: 20%;
  -ms-grid-row-align: center;
  align-self: center;
}

.PortraitChinois {
  font-size: 4rem;
  color: #C0B08F;
  margin: 0;
}

.PortraitChinois span {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  position: relative;
  top: 4vh;
}

.nom {
  font-size: 1rem;
  position: relative;
  top: -3vh;
}

.scroll-down {
  width: 25px;
  height: 40px;
  border: 2px white solid;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  bottom: 5vh;
}

.scroll-down::before {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  bottom: 30px;
  background: white;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  opacity: 1;
  -webkit-animation: mouse 2s infinite;
  animation: mouse 2s infinite;

}

@-webkit-keyframes mouse {
  from {
    opacity: 1;
    top: 10px;
  }

  to {
    opacity: 0;
    top: 30px;
  }
}

@keyframes mouse {
  from {
    opacity: 1;
    top: 10px;
  }

  to {
    opacity: 0;
    top: 30px;
  }
}


/* CAROUSSEL */
main {
  background-color: #C4D8EC;
  height: 95vh;
  min-width: 1024px;
}

.boite {
  width: 90%;
  margin: auto;
}


.slider-nav {
  width: 90%;
  margin: auto;
  position: relative;
  bottom: -2vh;

}

.text-top h1 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
  margin: 30px;
  color: #7C7C7C;
}


.contenu {
  position: relative;
  margin: 40px;
  display: inline-block;
  width: 100%;
  height: 100%;
}

svg {
  width: 30%;
  position: absolute;
  left: 35%;

}

.contenu .image {
  height: 100%;
  width: 100%;
  transition: all linear .4s;
  cursor: pointer;
  display: block;
}

.contenu .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: white;
  width: 100%;
  height: 100%;
}

.contenu p {
  font-family: roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titre {
  font-size: 1.25rem;
  text-transform: uppercase;
  border-bottom: 1px white solid;
  width: 70%;

}

.explication {
  margin: auto;
  text-align: justify;
}


.text-bottom {
  margin: 50px 0px;
}

.text-bottom p {
  font-family: roboto, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
  color: #646464;
}

/* BAS DE PAGE */
footer {
  text-align: center;
}

footer p {
  font-family: roboto, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1rem;
  letter-spacing: 5px;
  margin: 10px 3%;
  color: #646464;
  display: inline-block;
}


/* ANIMATION */
.slick-center img {
  transform: scale(1.2);
}

.slick-center:hover img {
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
}

.slick-center:hover .text {
  opacity: 1;
}


.fade-in {
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}

.fade-in2 {
  animation: fadeIn ease 6s;
  -webkit-animation: fadeIn ease 6s;
  -moz-animation: fadeIn ease 6s;
  -o-animation: fadeIn ease 6s;
  -ms-animation: fadeIn ease 6s;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(0%, -50%);
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(0%, -50%);
  }

  100% {
    opacity: 1;
  }
}

.text-top:focus {
  outline: 0;
}

.text-bottom:focus {
  outline: 0;
}

.contenu:focus {
  outline: 0;
}

.contenu-text:focus {
  outline: 0;
}


/* SCROLLBAR */

::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}